
/*-----------estilo global------*/



*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    }
    
    
    body{
        color: #776B5D;
        font-family: "Quicksand", sans-serif;
        background-image: url(../imagenes/Fondo\ huellas.png);
        
        }
        /*---------estilos de menu------------*/


        .logoImg a img{
            border-radius: 40px;
        }

        nav{
            margin: 0px 0px 50px 0px;
        }


        .nav-item a:hover{
            color: aqua;
        }
        
        .nav-item{
            margin: 10px;
        }
        


        nav{
            display: flex;
            justify-content: space-between;
            
            
            height: 100px;
            
            }
            
            .btn{
                width: 40px;
                height: 40px;
                border-radius: 30px;
               background-color: lightskyblue;
               margin-right: 100px;
            }
            
            .btn img{
                height: 100%;
                width: 100%;
            }
            
            .cabeza{
                margin-bottom: 15%;
            }
            
            
            
            
            .logoo{
            width: 100px;
            height: 100px;
            margin: 10px;
            margin-left: 60px;
            
            }
            .logoo img{
             width: 100%;
             height: 100%;
             overflow: hidden;
             border-radius: 40px;
            
             
            }
            
            
            
            
            .menu{
                color: #776B5D;
                display: flex;
                flex-direction: column;
             
                 
                 
            
            }
            
            menu li:hover{
                height: 200px; width: 200px;
                padding: 20px;
                background-color: cyan;
            }
            
            
            .menu li{
                color: #776B5D;
                margin: 5px;
                padding: 5px;
            }
            
            .menu li a{
                all: unset;
                cursor: pointer;
                font-size: 20px;
                color: blue;
                font-weight: 600;
                width: 100px; height: 100px;
                transition: all 2s; 
            }
            
            .menu li a:hover{
                color: cyan;
                text-decoration: underline;
            }
            



        
        /*-------Estilos del inicio---------------*/
        
.inicio{
    color: #776B5D;
    display: flex;
    height: 80px;
     justify-content: center;
    
    
}

.textoMascota{
   
    height: 200px;
    background-color: white;
}





.principal{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    
    

}

.principal article{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;

    
}

.pieDePagina{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
    margin-top: 20px;
    
}



.hijo {
    display: flex;
    height: 10px;
  
    
}

.mascota{
    color: #776B5D;
    display: flex;
    height: 90px;
    
    justify-content: center;
    margin-top: 60px;
}




    /*------Imagenes del incio-----*/

.imagenMascota{
    height: 200px;
    width: 250px;
    background-color: #EBE3D5;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 10px;
}

.imagenMascota img {
    width: 100%;
    overflow: hidden;
    height: 100%;
    
}










/*------Infio pie de pagina*/
.infoPie{
    display: flex;
   justify-content: space-around;
}

.botones button{
border-radius: 10px;

}

.wpps{
    display: flex;

}

.imgwpp{
    height: 20px;
    width: 20px;
    margin: 10px;

}

.textoFinal{
    text-align: center;
}












/*-----------Estilos de las imagenes-----------*/




.grandePerro{
    height: 300px;
    width: 500px;

}
.grandePerro img{
    height: 100%;
    width: 100%;
    
   margin-left: 20px;
}


/*------------Informacion sobre nosotros--------*/

.infoNosotros{
    background-color: white;
    margin-top: 40px;
    margin-left: 20px;
}


.contenedorPerro{
    display: flex;
    justify-content: center;
 }





/*aca comienza todo sobre criadores*/


.foto1{
    height: 300px;
    width: 300px;
    margin-left: 30px;
    
}

.foto1 img{
    height: 100%;
    width: 100%;
}


.foto2{
    height: 300px;
    width: 300px;
    margin-left: 30px;
    margin-top: 30px;
}


.foto2 img{
    height: 100%;
    width: 100%;
}


.foto3{
    height: 300px;
    width: 400px;
    margin-left: 30px;
    margin-top: 30px;
}




.foto3 img{
    height: 100%;
    width: 100%;
}


.info{
    display: flex;
    align-items: center;
}

.comidaMascota{
    margin-left: 20px;
    


}

/*-----------formulario de contacto-------*/

.contenedorFormulario{
    margin: 0 auto;
    background-color: white;
    height: 40vh;
    width: 80vh;
    margin-bottom: 80px;
}

.aria{
    resize:none;
}

.botonContacto:hover{

    

    color: cyan;
}

.botonContacto{
    color: rgb(7, 7, 53);
    font-weight: 600;
    width: 70px; height: 70px;
    transition: all 1s;
}
.botonContacto:hover{

    

    color: cyan;
}






/*--------media celular--------*/


@media (width <= 800px) and (width >= 500px){
    .borde, .borde1, .borde2, .borde3{
        margin: 3px;
      
    }  
    .principal{
        justify-content: center;
    }
}

@media (width <= 500px){

    .principal{
        justify-content: center;
    }

   /*  .logoo img{
        width: 50px;
        height: 50px;
    }
 */


    .infoPie{
        flex-direction: column;
        align-items: center;
    }
    .borde, .borde1, .borde2, .borde3{
        margin: 3px;
    
    }  
     .botones button{
        
        width: 35px;
     }  
     .botones{
        margin-right: 5px;
     } 
}


@media (width <= 500px){
    .grandePerro{
        height: 200px;
        width: 300px;
    }
}



@media (width <= 800px) and (width >= 500px){
    .grandePerro img{
       margin-top: 40px;
      
    }
    .infoNosotros{
       margin-top: 100px;
    }
}









@media (width <= 500px){

 .foto1 {
    height: 150px;
    width: 150px;
 }

 .foto2 {
    height: 150px;
    width: 150px;
 }
  
  
 .foto3 {
    height: 150px;
    width: 150px;
    
 }

}


@media (width <= 500px){
.contenedorFormula{
    margin: 15%;
    background-color: white;
}
 }



 @media (width <= 800px) and (width >= 500px){
    .contenedorFormula{
        margin: 15%;
    }
 }





 



 